body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #f1f2f3;
}
html {
  font-size: 62.5%;
}

.title {
  text-align: center;
  font-weight: 900;
  color: rgb(2, 121, 75);
  font-size: 3rem;
}
.erorr {
  font-size: 2rem;
  text-align: center;
  color: red;
}
.container {
  margin: 3rem auto;
  width: 85%;
}
.malumot {
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
}
.element {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
  font-size: 1.5rem;
  color: aliceblue;
}
.convertBtn {
  outline: none;
  border: none;
  height: 5rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: crimson;
}
.sel2,
.sel1 {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: rgb(3, 134, 134);
  padding: 2.4rem;
  height: auto;
}
.draw {
  background-color: aliceblue;
  width: 100%;
  height: 0.1rem;
}
.time,
.main {
  color: rgb(10, 235, 21);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.findBtn {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  background-color: crimson;
}
.select {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  opacity: 0;
}
.sumInput1,
.sumInput2 {
  outline: none;
  padding: 0.8rem 1rem;
  width: 233%;
  margin: 2rem 0;
  border: none;
  background-color: rgb(3, 112, 112);
  color: rgb(255, 255, 255);
}
.select select {
  outline: none;
  padding: 0.8rem 1rem;
  width: 244%;
  border: none;
  background-color: aqua;
  color: #555;
}
.select option {
  outline: none;
  padding: 0.8rem 1rem;
  width: 40%;
  border: none;
  background-color: aqua;
  color: #555;
}
.inputCreate {
  outline: none;
  border: none;
  width: 40%;
  padding: 1rem 2rem;
  background-color: aqua;
}
.searchInput {
  background-color: rgb(9, 233, 177);
  display: block;
  margin: 1rem auto;
  width: 48%;
}
.loading {
  transition: 0.8s all;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: none;
}
